# --- ДАТАСЕТЫ И ТЯЖЕЛЫЕ ФАЙЛЫ ---
*.parquet
he_raw_data/

# --- ВЕСА МОДЕЛЕЙ И ЧЕКПОИНТЫ ---
outputs/

# --- СИСТЕМНЫЙ МУСОР PYTHON ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.conda/

# --- IDE И РЕДАКТОРЫ ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db


